PROJECT_NAME="Converge AI"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/app
CELERY_BROKEREDIS_URL=redis://redis:6379/0

# Optional: Add Proxy URL (Format: http://user:pass@host:port)
PROXY_URL=
CELERY_RESULT_BACKEND=redis://redis:6379/0
OPENAI_API_KEY=sk-placeholder
