fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
celery[redis]
python-dotenv
alembic
psycopg2-binary
requests
beautifulsoup4
playwright
openai
langchain
aiosmtplib
google-generativeai
langgraph
google-api-python-client
tavily-python
ddgs
googlesearch-python
